*{
    margin: 0px;
}
body{
    text-align: center;
   
    font-family: 'Goudy Old Style','Garamond','Big Caslon','Times New Roman','serif'; 
}
#background {
    background: url('https://static.vecteezy.com/system/resources/previews/002/241/378/original/a-frame-with-the-advancement-of-a-detective-investigation-on-a-cork-board-vector.jpg') no-repeat;
    background-size: cover;
    padding-top: 20px;
    padding-bottom: 20px;
    width:100%;
    height: 99vh;
    
    background-position: center;
    }
    
    
#board{
    height: 550px;
    width: 500px;
    margin: 0;
    
}